*.gch
hlma/rtex1
hlma/rtex2
hlma/rtex3
hlma/rtex4
hlma/rtex5
hlma/rtex6
hlma/rt
hlma/16
.venv
tmp
tmp/*
alt-test
super-test
[A-Z]-*.wav
wa_*.wav
dw8k-*.png
drums-*.png
test_ksynth
test
GEMINI.md
history.txt
ksynth
*.o
dw*.i16
dw*.f32
